<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mailee_template.title %>
</p>

<%= link_to 'Edit', edit_mailee_template_path(@mailee_template) %> |
<%= link_to 'Back', mailee_templates_path %>
