<!DOCTYPE html>
<html>
<head>
  <title>MaileeExample</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<a href="/clients">Meus clientes</a>
<a href="/mailee_contacts">Contatos no Mailee</a>
<a href="/mailee_lists">Listas no Mailee</a>
<a href="/mailee_templates">Templates no Mailee</a>
<a href="/mailee_messages">Mensagens no Mailee</a>
<hr />
<%= yield %>

</body>
</html>
